[Unit]
Description=Creates thermal camera stream service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=bash -c "cd /usr/share/thermal && thermal"

[Install]
WantedBy=multi-user.target
